@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}


input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:focus,a:visited,a:active{
  outline: none;
}


body {
    scrollbar-width: thin;          
    scrollbar-color: blue orange; 
    background-color: bisque;
}
*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-track {
    background: hsl(0, 0%, 90%);;
}

*::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 80%);;
    border-radius: 20px;
    /* border: 3px solid orange; */
}

a { color: inherit; } 

.main_section{
    background-color: hsl(0, 0%, 90%);
    height: 580px;
    width: 290px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 20px hsla(0, 0%, 0%, 0.2);
    padding: 0 20px;
    z-index: -2;
}

.center{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.nav{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 20px;
}

.nav svg{
    width: 8%;
}

.search_svg{
    position: absolute;
    left: 0;
    margin-left: 40px;
}

.menu_svg{
    position: absolute;
    right: 0;
    margin-right: 40px;
}

.options{
    margin: 6%;
    margin-top: 30px;
    margin-left: 30px;
}

.options h1{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    width: fit-content;
}

#all_music{
    margin-top: 20px;
}

p,.now_playing{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: #333;
}

.header-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-bottom: 20px;
}


.now_playing {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin: auto;
}

img{
    z-index: 1;  
}

.lovemusic img{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 10px hsla(0, 0%, 0%, 0.137);
}

.lovemusic p{
    margin: 15px;
}

.margin-check {
    display: inline-block;
    position: relative;
}
  
.margin-check:after {
    position: absolute;
    content: '';
    border-bottom: 5px solid #b14848;
    border-radius: 8px;
    width: 70%;
    transform: translateX(-50%);
    bottom: -15px;
    left: 50%;
}

.items{
    margin-top: 100px;
    height: 270px;
    margin-left: -10px;
    overflow-y: auto;
}

.hidden {
	display: none;
}

/* search */
.button {
	display: inline-block;
	margin: 4px 2px;
	background-color: rgb(45, 45, 158);
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
    border-radius: 50%;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}
.search-container {
	position: relative;
	display: inline-block;
    margin: -8px -32px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
	font-size: 40px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: red;
	color: black;
}

.search {
	position: absolute;
	left: 30px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: -1;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    font-family: 'Poppins', sans-serif;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.search:focus {
	width: 150px; /* Bar width+1px */
	padding: 0 10px 0 25px;
    /* padding-left: 20px; */
}

@media screen and (max-width: 550px) {
    .main_section{
        width: 100%;
        min-height: 100vh;
    }
}